<body>
    <div class="media">
        <div class="media__image">

            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
            </span>
        </div>
        <div class="media__body">
            <h3 class="media__title">
                Easy Start & Managed Updates
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur culpa repellat voluptatem ipsam
                molestias laudantium quasi, recusandae commodi velit quos placeat consequuntur, reiciendis facere
                deleniti fuga assumenda inventore repellendus alias.
            </p>
        </div>
    </div>
</body>